<div class="main-container">
<section class="hero is-small">
  <div class="hero-body">
    <div class="container has-text-centered ">
      <h1 class="title has-text-white">
        新規登録
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>


        <div class="field">
          <%= f.label :"名前", class: "label" %>
          <p class="control has-icons-left">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", :placeholder => "例）山田太郎", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :"パスワード(6文字以上の英数字)", class: "label" %>
          <p class="control has-icons-left">
          <%= f.password_field :password, autocomplete: "new-password", :placeholder => "password", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :"パスワード確認(上と同じ)", class: "label" %>
          <p class="control has-icons-left">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "password confirmation", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: "button is-success" %>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</section>
</div>